*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
}

nav{
    display: flex;
}

nav a{
    display: flex;
    width: 90px;
    height: 25px;
    padding: 8px;
    border: 2px solid #999;
    text-align: center;
}

h1{
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projetos div{
    display: flex;
    gap: 5px;
}

.projeto {
    width: 230px;
    height: 150px;
    border: 1px solid black;
    padding: 5px;
}

h2{
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
}

p{
    border: 1px solid #999;
    padding: 10px;
}

p span{
    border: 2px solid #999;
}

footer{
    border: 2px solid #999;
    padding: 15px;
    margin-top: 10px;
}
